/*
	IssueMap overrides to standard Mapbox css
*/

.leaflet-control-messagebox {
	box-shadow: 0 1px 5px rgba(5,5,5,0.4);
	padding-top: 6px;
	padding-bottom: 6px;
	background: #fff;
	border: none;
	border-radius: 5px;
	font: 14pt/18pt "Helvetica Neue", Arial, Helvetica, sans-serif;
	width: auto;
}

.legend-heading {
	font: 10pt/14pt "Helvetica Neue", Arial, Helvetica, sans-serif;
	text-align: center;
	font-weight: bold;
	font-style: oblique;
}

.legend-content {
	font: 9pt/12pt "Helvetica Neue", Arial, Helvetica, sans-serif;
	text-align: left;
	font-weight: normal;
	width: 160px;
//	min-height: 95px;
}

/*
.legend-content-mobile {
	text-align: left;
	font: 7pt/10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.showStale {
	font: 9pt "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: bold;
	white-space: nowrap;
	position: absolute;
	float: right;
	top: 56px;
	right: 10px;
}

.showExpired {
	font: 9pt "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: bold;
	position: absolute;
	float: right;
	top: 20px;
	right: 10px;
}
*/

.infoLink {
	font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
	text-align: left;
	padding-right: 10em;
}

.deadline-list-switch {
	font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
	text-align: right;
}

.leaflet-control-layers-group-name {
	font: 11pt/14pt "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-style: oblique;
}

.leaflet-control-layer-menu-item {
	margin-left: 10px;
	font: 10pt/12pt "Helvetica Neue", Arial, Helvetica, sans-serif; 
}

.leaflet-control-layers-group {
  margin-bottom: 0.7em;
}

.leaflet-control-layers-expanded {
  max-height: 25em;
  min-width: 13em;
  overflow: auto;
  width: auto;
}

.leaflet-control-layers-aux-button {
	min-width: 10.5em;
	text-align: center;
	font: 11pt/16pt "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-style: oblique;
}

.leaflet-label {
	border-width: 2px;
	white-space: normal;
	fillOpacity: .1;
	font: 10pt/12pt "Helvetica Neue", Arial, Helvetica, sans-serif;
	z-index: 25;
	width: 200px;
}

#deadline-list {
	padding-top: 10px;
	text-align: left;
	overflow: auto;
	max-height: 400px;
	font: 10pt/12pt "Helvetica Neue", Arial, Helvetica, sans-serif; 
}

#closeButton {
    position: absolute;
    top: 3px;
    right: 3px;
}

/* add the external indicator to a link */
body a.external {
    background: url(../images/externalIcon.png) center right no-repeat;
    padding-right: 13px;
}

body .custom-popup p{
	font: 10pt/12pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.tooltip {
	font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
	padding: 1px 6px;
	position: absolute;
	border: 2px solid #777;
	background: rgb(235, 235, 235);
	background: rgba(235, 235, 235, 0.81);
}

.leaflet-bar button,
.leaflet-bar button:hover {
	min-width: 11.5em;
	height: 15pt;
	font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: bold;
}
