<VirtualHost *:80>
	
	# Available URL(s)
	ServerName issuemap.cyclescape.org
	
	# Logging
	CustomLog /var/log/apache2/cyclescape-issuemap-access.log combined
	ErrorLog /var/log/apache2/cyclescape-issuemap-error.log
	
	# Where the files are
	DocumentRoot /var/www/cyclescape-issuemap/
	
	# Allow access
	<Directory />
		Require all granted
	</Directory>
	
	# Allow redirects in .htaccess
	<Directory />
		AllowOverride FileInfo
	</Directory>
	
</VirtualHost>

